
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#app {
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1771f1;
    height: 43px;
    .flex {
      display: flex;
      height: inherit;
      justify-content: space-between;
      align-items: center;
    }
    .hamburger {
      width: 30px;
      display: grid;
      align-items: center;
      height: 22.5px;
      cursor: pointer;
      span {
        display: block;
        background-color: #FFF;
        width: 25px;
        height: 2.3px;
        border-radius: 5px;
      }
      span:nth-child(1) {
        top: -10px;
        }
      span:nth-child(3) {
        top: 10px;
        }
    }
    .search-bar {
      position: relative;
      label {
        display: inline-block;
        transform: translateX(23px);
        img {
          display: inline-block;
          vertical-align: middle;
          width: 15px;
          filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(315deg) brightness(109%) contrast(99%);
        }
      }
      #search {
        width: 278px;
        height: 30px;
        padding: 5px 10px 5px 27px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #6eaaff;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:focus {
          width: 370px;
          background-color: #FFF;
        }
        &:hover {
          background-color: #FFF;
        }
        &::placeholder {
          color: #fff;
          opacity: .7;
        }
        &:focus::placeholder {
          color: #333;
        }
        &:hover::placeholder {
          color: #333;
        }
      }
      .search-tasks {
        position: relative;
        .list-task-ser {
          position: fixed;
          width: 30%;
          max-width: 370px;
          padding: 10px;
          border-radius: 5px;
          transform: translate(13px, 10px);
          background-color: #FFF;
          box-shadow: 0 4px 7px rgba(0, 0, 0, .2);
          height: auto;
          max-height: 400px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 5px;
          }
            &::-webkit-scrollbar-track {
            background-color: rgb(226,226,226);;
            border-radius: 5px;
          }
            &::-webkit-scrollbar-thumb {
            background: #1771f1; 
            border-radius: 5px;
          }
            &::-webkit-scrollbar-thumb:hover {
            background: #0e3e83; 
          }
          li {
            padding: 10px;
            border-bottom: 1px solid #e2e2e2;
            margin-bottom: 0;
            &:last-of-type {
              border-bottom: none !important;
            }
          }
          span {
            float: right;
            img {
              width: 15px;
            }
          }
        }
      }
      .ac_img {
          img {
            filter: invert(13%) sepia(52%) saturate(8%) hue-rotate(358deg) brightness(102%) contrast(84%);
            opacity: .7;
          }
        }
      .ac_img_hover {
          img {
            filter: invert(13%) sepia(52%) saturate(8%) hue-rotate(358deg) brightness(102%) contrast(84%);
            opacity: .7;
          }
        }
    }
    .controls {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 11%;
      .btn_darkmode {
        input[type="checkbox"] {
          display: none;
        }
        label {
          position: relative;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: transparent;
          box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, .2);
          border-radius: 15px;
          height: 30px;
          padding: 5px;
          width: 70px;
          cursor: pointer;
          transition: all .5s ease;
          &:after {
            position: absolute;
            content: "";
            display: inline-block;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fafafa;
            z-index: 55;
            transition: all .3s ease;
          }
        }
        img {
          display: inline-block;
          width: 22px;
          height: auto;
          vertical-align: middle;
          user-select: none;
          transition: all .5s ease;
          &:nth-of-type(1) {
            opacity: 0;
          }
        }
        input[type="checkbox"] {
          &:checked + label {
            background-color: #27536b;
            &:after {
              left: 70%;
            }
            img:nth-of-type(1) {
              opacity: 1;
            }
            img:nth-of-type(2) {
              opacity: 0;
            }
          }
        }
      }
      .create-new {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        img {
          width: 22px;
          vertical-align: middle;
          border-radius: 50%;
          z-index: -1;
        }
        &:hover {
          img {
            box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
          }
        }
        &:disabled {
          color: red;
        }
      }
    }
  }
  
  nav {
    background-color: #fafafa;
    color: #333;
    position: fixed;
    top: 43px;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 20;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    ul {
      padding: 30px 0 20px 50px;
        li {
          a {
            img {
              width: 20px;
              vertical-align: middle;
            }
            padding: 10px 15px;
            border-radius: 5px;
            color: #333;
            display: block;
            transition: background-color .3s ease;
            &:hover {
              background-color: #EEE;
            }
          }
          .router-link-exact-active {
              background-color: #EEE;
          }
        }
      }
  }
  .settings-app {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .1);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .features {
      width: 30%;
      background-color: #FFF;
      color: #000;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
    }
  }
}

/*=============================
inbox
=============================*/

.inbox {
  background-color: #FFF;
  height: 100vh;
  padding-top: 85px;
  margin-left: 250px;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  .to-do-list {
      width: 70%;
      margin: 0 auto;
      .add-task {
          padding: 5px;
          border: none;
          background-color: #FFF;
          color: #333;
          cursor: pointer;
          border-radius: 4px;
          .icon-add {
            vertical-align: bottom;
            width: 17px;
            transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
          &:hover {
            color: #1771f1;
            
          }
          &:hover > .icon-add {
            transform: rotate(90deg);
            filter: invert(31%) sepia(60%) saturate(3242%) hue-rotate(206deg) brightness(98%) contrast(93%);
          }
      }
      .cancel-task {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 3px;
        background-color: #FFF;
        color: #333;
        &:hover {
          color: red;
        }
      }
      .controls-task {
        .save-task {
              border: none;
              padding: 7px 10px;
              background-color: #1771f1;
              color: #FFF;
              font-weight: bold;
              margin: 15px;
              cursor: pointer;
              border-radius: 5px;
              &:disabled {
                background-color: #acc7ef;
                cursor: no-drop;
              }
          }
      }
      .info {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-size: 1.7em;
          .numberOfTasks {
            font-size: 17px;
          }
        }
        .del-all {
          border: none;
          outline: none;
          cursor: pointer;
          height: 29px;
          width: 75px;
          border-radius: 5px;
          background-color: rgb(255, 185, 185);
          color: #FFF;
          opacity: 0;
          transition: all .5s ease;
          &:hover {
            background-color: rgb(255, 55, 55);
          }
        }
        &:hover > .del-all {
          opacity: 1;
        }
      }
    .listOfTasks {
      .tasks-hero-image {
        display: block;
        margin: 0 auto;
        width: 600px;
        opacity: .5;
      }
        height: 410px;
        overflow-y: auto;
        &::-webkit-scrollbar {
        width: 5px;
        }
        &::-webkit-scrollbar-track {
        background-color: rgb(226,226,226);;
        border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
        background: #1771f1; 
        border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb:hover {
        background: #0e3e83; 
        }
        .task {
            padding: 10px;
            border-bottom: 1px solid rgb(226,226,226);
            margin-bottom: 10px;
            width: 95%;
            .completedTask {
                #complete {
                  display: none;
                }
              display: inline-block;
              cursor: pointer;
              width: 17px;
              height: 17px;
              border-radius: 50%;
              border: .7px solid #8c8c8c;
              background-color: transparent;
              vertical-align: middle;
              img {
                display: block;
                opacity: 0;
                height: inherit;
                line-height: inherit;
                width: inherit;
                margin: 0 auto;
              }
              &:hover > img {
                opacity: .4;
                filter: grayscale(100%);
              }
              #complete:checked ~ img {
                opacity: 1;
                filter: grayscale(0);
                animation: check .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transform: scale(1.2);
              }
              @keyframes check {
                0% {transform: scale(1.2);}
                50% {transform: scale(1.5);}
                100% {transform: scale(1.2);}
              }
            }
            .del {
              position: relative;
              z-index: 2;
              float: right;
              padding: 5px 7px;
              cursor: pointer;
              border: none;
              outline: none;
              background-color: transparent;
              display: inline;
              opacity: 0;
              transition: all .5s ease;
              img {
                position: relative;
                width: 15px;
                z-index: -1;
              }
            }
            &:hover > .del {
              opacity: 1;
            }
        }
    }
  }
}


/*=============================
completed
============================**/

.completed {
  background-color: #FFF;
  padding-top: 85px;
  margin-left: 250px;
  height: 100vh;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  .completedTasks {
      width: 70%;
      margin: 0 auto;
      .info {
          padding: 15px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h1 {
          font-size: 1.7em;
          .numberOfTasks {
            font-size: 17px;
          }
        }
        .del-all {
            border: none;
            outline: none;
            cursor: pointer;
            height: 29px;
            width: 75px;
            border-radius: 5px;
            background-color: rgb(255, 185, 185);
            color: #FFF;
            opacity: 0;
            transition: all .5s ease;
            &:hover {
                background-color: rgb(255, 55, 55);
            }
        }
          &:hover > .del-all {
          opacity: 1;
          }
      }
    .listOfTasks {
        .tasks-hero-image {
            display: block;
            width: 440px;
            margin: 0 auto;
            opacity: .5;
          }
        height: 440px;
        overflow-y: auto;
        &::-webkit-scrollbar {
        width: 5px;
        }
        &::-webkit-scrollbar-track {
        background-color: rgb(226,226,226);;
        border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
        background: #1771f1; 
        border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb:hover {
        background: #0e3e83; 
        }
        .taskComplete {
            padding: 10px;
            border-bottom: 1px solid rgb(226,226,226);
            margin-bottom: 10px;
            width: 95%;
            .del {
                position: relative;
                z-index: 2;
                float: right;
                padding: 5px 7px;
                cursor: pointer;
                border: none;
                outline: none;
                background-color: transparent;
                display: inline;
                opacity: 0;
                transition: all .5s ease;
                img {
                    position: relative;
                    width: 15px;
                    z-index: -1;
                }
            }
            &:hover > .del {
                opacity: 1;
            }
        }
    }
  }
}



/*====================================
dark mode
======================================*/

 /* 
212121
424242 
616161
757575
9e9e9e
bdbdbd 
*/

.ActiveDartkMode #app {
  .controls-input {
    input {
      background-color: transparent;
      color: #EEE;
      border-color: #757575 !important;
    }
  }
  .top-bar {
    background-color: #616161;
      .hamburger {
          span {
              background-color: #FFF;
          }
      }
      .search-bar {
          #search {
              background-color: #9e9e9e;
              &:focus {
                  background-color: #FFF;
              }
              &:hover {
                  background-color: #FFF;
              }
              &::placeholder {
                  color: #FFF;
              }
              &:focus::placeholder {
                  color: #333;
              }
              &:hover::placeholder {
                  color: #333;
              }
          }
          .search-tasks {
              .list-task-ser {
                  background-color: #FFF;
                  box-shadow: 0 4px 7px rgba(0, 0, 0, .2);
                  &::-webkit-scrollbar-track {
                      background-color: rgb(226,226,226);;
                  }
                  &::-webkit-scrollbar-thumb {
                      background: #1771f1; 
                  }
                  &::-webkit-scrollbar-thumb:hover {
                      background: #0e3e83; 
                  }
                  li {
                      border-bottom: 1px solid #e2e2e2;
                  }
              }
          }
          .ac_img {
              img {
                  filter: invert(13%) sepia(52%) saturate(8%) hue-rotate(358deg) brightness(102%) contrast(84%);
              }
          }
          .ac_img_hover {
              filter: invert(13%) sepia(52%) saturate(8%) hue-rotate(358deg) brightness(102%) contrast(84%);
          }
      }
      .controls .create-new img {
        filter: grayscale(100%);
      }
  }
  nav {
    background-color: #424242;
      ul li a {
          color: #EEE;
          img {
              filter: brightness(110%) contrast(100%) invert(100%);
          }
          &:hover {
              background-color: #616161;
          }
      }
      ul li {
          .router-link-exact-active {
              background-color: #616161;
          }
      }
  }
  .settings-app {
      background: rgba(0, 0, 0, .1);
      .features {
          background-color: #FFF;
          box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
          color: #000;
      }
  }
  .inbox {
    background-color: #212121;
    color: #EEE;
      .to-do-list {
        .listOfTasks {
          .tasks-hero-image {
            filter: grayscale(100%) invert(87%);
          }
        }
          .add-task {
              background-color: #757575;
              color: #EEE;
              padding: 7px 10px;
            &:hover {
                background-color: #9e9e9e;
                box-shadow: 0 0 7px #9e9e9e;
                color: #EEE;
            }
            .icon-add {
              filter: invert(100%) brightness(113%) contrast(100%);
            }
          }
          .cancel-task {
            background-color: transparent;
            color: red;
          }
          .controls-task {
              .save-task {
                  background-color: #616161;
                  color: #FFF;
                  &:disabled {
                      background-color: #757575;
                      color: #EEE;
                  }
              }
          }
          .info {
            .numberOfTasks {
              color: #757575;
            }
            .del-all {
              background-color: #757575;
              color: #FFF;
              &:hover {
                background-color: rgb(255, 55, 55);
              }
            }
          }
          .listOfTasks {
              &::-webkit-scrollbar-track {
                  background-color: #616161;
              }
              &::-webkit-scrollbar-thumb {
                  background: #9e9e9e; 
              }
              &::-webkit-scrollbar-thumb:hover {
                  background: #757575; 
              }
              .task {
                border-bottom: 1px solid #424242;
                background-color: transparent;
                .del {
                  img {
                    filter: brightness(113%) contrast(100%) invert(100%);
                  }
                }
              }
          }
      }
  }
  .completed {
      background-color: #212121;
      color: #EEE;
      .completedTasks {
          .info {
            .numberOfTasks {
              color: #757575;
            }
            .del-all {
              background-color: #757575;
              color: #FFF;
              &:hover {
                background-color: rgb(255, 55, 55);
              }
            }
          }
          .listOfTasks {
            .tasks-hero-image {
              filter: grayscale(100%) invert(87%);
            }
            &::-webkit-scrollbar-track {
              background-color: #616161;
            }
            &::-webkit-scrollbar-thumb {
                background: #9e9e9e; 
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #757575; 
            }
              .taskComplete {
                border-bottom: 1px solid #424242;
                  .del {
                      background-color: transparent;
                      img {
                        filter: brightness(113%) contrast(100%) invert(100%);
                        transition: all 3s ease;
                      }
                  }
              }
          }
      }
  }
}



